body {font-family: 'Roboto', sans-serif;
}
.container-wrapper {
    background-color: ;

}

.container-wrapper--blue {
    background-color: #0d47a1;
        color: black;

}

p.thick {
   font-weight: bold;
   border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #64b5f6;
    max-height: 0;

}

h1 {
    background-color:blue;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #64b5f6;
    }
    .img {
        display: inline;
    }
.callout-container {
    height: 100vh;
    background: url("../images/back-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
 
}

.about-container {


}

.block divider--white {
background-color: white;
}
/*page-header*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    
}

.about .page-header {
    margin-bottom: 25px;
}

.page-header h2 {
    margin-top: 0;
}
 
/*buttons*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;

}

.features-container{

}

/*jumbotron*/
.jumbotron-header {
    color: black;
    font-weight: bold;

}

.footer-container {
    background-color: #e3f2fd;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #64b5f6;

}

.p {
    text-align: center;
}